TestApplication/Service References/ServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/DocumentService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.Model" />
  <xs:element name="GetAllDossiers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDossiersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="GetAllDossiersResult" nillable="true" type="q1:ArrayOfDossier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewDossier">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewDossierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="AddNewDossierResult" nillable="true" type="q2:Dossier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDossier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="dossier" nillable="true" type="q3:Dossier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDossierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="EditDossierResult" nillable="true" type="q4:Dossier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDossier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="dossier" nillable="true" type="q5:Dossier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDossierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDossierResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentToDossier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="dossier" nillable="true" type="q6:Dossier" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="document" nillable="true" type="q7:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentToDossierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="AddDocumentToDossierResult" nillable="true" type="q8:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="dossier" nillable="true" type="q9:Dossier" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="document" nillable="true" type="q10:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="EditDocumentResult" nillable="true" type="q11:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="document" nillable="true" type="q12:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDocumentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllKeywords">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllKeywordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="GetAllKeywordsResult" nillable="true" type="q13:ArrayOfKeyword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewKeyword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="keyword" nillable="true" type="q14:Keyword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewKeywordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="AddNewKeywordResult" nillable="true" type="q15:Keyword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditKeyword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="keyword" nillable="true" type="q16:Keyword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditKeywordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="EditKeywordResult" nillable="true" type="q17:Keyword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKeyword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="keyword" nillable="true" type="q18:Keyword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKeywordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteKeywordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>